.header{
  width: 100%;
  height: 110px;
  background-color: #001c20;
}

.body {
  width: 1650px;
  margin: 0 auto;
}

.imgSails{
  position: absolute;
  right: 50%;
  margin-right: 600px;
  margin-top: 20px;
}

.menu{
  position: absolute;
  left: 50%;
  margin-left: 40px;
  margin-top: 26px;
}

.link{
  color: #FFF;
  font-family: Open Sans, Helvetica ,Arial ,sans-serif;
  padding-left: 80px;
  float: left;
}

.link:hover {
  color: #16ABC1;
}

.features {
  text-align: center;
  color: #0b8fa2;
  font-family: nexa_lightregular, Helvetica, Arial, sans-serif;
}

.description {
  text-align: center;
  color: #001c20;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-style: italic;
}

.container{
    left: 50%;
    clear: both;
}

.item {
    width: 550px;
    height: 400px;
    float: left;
}

.icon {
    float : left;
}

.short_description {
    
    color: #0b8fa2;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 18px;
    width: 430px;
    height: 400px;
    clear: both;
}

.full_description {
    width: 430px;
    height: 400px;
}
