.header{
  width: 100%;
  height: 110px;
  background-color: #001c20;
}

.imgSails{
  position: absolute;
  right: 50%;
  margin-right: 600px;
  margin-top: 20px;
}

.menu{
  position: absolute;
  left: 50%;
  margin-left: 40px;
  margin-top: 26px;
}

.link{
  color: #FFF;
  font-family: Open Sans, Helvetica ,Arial ,sans-serif;
  padding-left: 80px;
  float: left;
}

.link:hover {
  color: #16ABC1;
}

.features {
  text-align: center;
  color: #0b8fa2;
  font-family: nexa_lightregular, Helvetica, Arial, sans-serif;
}

.description {
  text-align: center;
  color: #001c20;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-style: italic;
}

.my-flex-container{
  display: flex;
}
