.header{
  position: fixed;
  left : 0;
  top : 0;
  width: 100%;
  height: 110px;
  background-color: #001c20;
  z-index : 1;
}

.body {
  padding-top : 110px;
  width: 1650px;
  margin: 0 auto;
}

.imgSails{
  position: absolute;
  right: 50%;
  margin-right: 600px;
  margin-top: 20px;
}

.menu{
  position: absolute;
  left: 50%;
  margin-left: 40px;
  margin-top: 26px;
}

.link{
  color: #FFF;
  font-family: Open Sans, Helvetica ,Arial ,sans-serif;
  padding-left: 80px;
  float: left;
}

.link:hover {
  color: #16ABC1;
}

.features {
  text-align: center;
  color: #0b8fa2;
  font-family: nexa_lightregular, Helvetica, Arial, sans-serif;
}

.description {
  text-align: center;
  color: #001c20;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-style: italic;
}

.container{
    left: 50%;
    padding-top: 60px;
    clear: both;
}

.item {
    width: 550px;
    height: 260px;
    float: left;
}

.icon {
    float : left;
}

.one_description {
    position: relative;
    padding-left: 120px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    height: auto;
    width: 380px;
    margin-top: -20px;
}

.short_description {
    color: #0b8fa2;
    font-size: 18px;
}

.full_description {
    line-height: 1.9em;
}

.book_button {
    margin-top: 400px;
    margin-left: 550px;
    background: #0e6471;
    color: #FFF;
    text-align: center;
    width: 600px;
    height: 90px;
    clear: both;
}

.book_button:hover {
  background: #16ABC1;
}

.txt_learn {
    padding: 10px 0;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.book {
  margin-top: 100px;
  margin-left: 400px;
  border: 1px solid #d0d6d7;
  width: 900px;
  height: 200px;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.book_left {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 130px;
  float: left;
}

.book_center {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 320px;
  float: left;
  text-align: left;
}

.book_description {
  color : #118798;
}

.book_right {
  padding-left: 50px;
  padding-top: 40px;
  height: 20px;
  width: 200px;
  float: left;
}

.button_to_book {
  background: #118798;
  width: 260px;
  height: 80px;
  border-radius: 8px;
}

.text_button_to_book {
  text-align: center;
  color: #FFF;
  padding: 20px 0;
}

.button_to_book:hover {
  background: #0b8fa2;
}

.bottom {
  position: relative;
  left : 0;
  margin-top: 200px;
  position: absolute;
  background: #0b8fa2;
  width: 100%;
  height: 500px;
}
